%ul.snippets
  - @snippets.each do |snippet|
    %li.snippet.rounded-box
      .contents
        .snippet-filename
          %a{ :href => path_to("/#{snippet.id}"), :title => snippet.comment }= snippet.filename
        .snippet-author
          by
          %a{ :href => path_to("/user/#{snippet.user.nickname}") }= snippet.user.nickname
          %span.snippet-inline-datetime= render_datetime(snippet.updated_at)
        - unless snippet.comment.empty?
          - comment = snippet.comment.chars.take(40).join
          .snippet-comment
            = comment
            - if snippet.comment != comment
              %a{:href => path_to("/#{snippet.id}")}> &hellip;
        .clear
        .snippet-body{ :title => snippet.comment }
          !~ render_snippet(snippet, :lines => 3)
