%h2= @snippet.title
.rounded-box
  .snippet.contents
    .snippet-title
      %a{ :href => path_to("/#{@snippet.id}") }= @snippet.title
    .snippet-author
      by
      %a{:href => path_to("/user/#{@snippet.user.nickname}") }= @snippet.user.nickname
    .snippet-datetime
      Modified at
      = @snippet.updated_at.strftime('%Y-%m-%d %H:%M')
    .snippet-datetime
      Created at
      = @snippet.created_at.strftime('%Y-%m-%d %H:%M')
    - unless @snippet.comment.empty?
      .snippet-comment= @snippet.comment
    .snippet-links
      %a{ :href => path_to("/#{@snippet.id}/download") } download
      %a{ :href => path_to("/#{@snippet.id}/raw") } raw
      - if logged_in? && @snippet.user == @authd_user
        %a{ :href => path_to("/#{@snippet.id}/edit") } edit
    .clear
    .snippet-body
      !~ render_snippet(@snippet)
