%h2= "Snippet #{@snippet.id}"
.snippet
  %dl
    %dt Title
    %dd= @snippet.title

    %dt Author
    %dd
      %a{:href => path_to("/user/#{@snippet.user.nickname}") }= @snippet.user.nickname

    %dt Comment
    %dd= @snippet.comment

    %dt Created at
    %dd= @snippet.created_at

    %dt Last modified at
    %dd= @snippet.updated_at

    %dt Type
    %dd= @snippet.type
  !~ render_snippet(@snippet)
