- @page_title = @snippet.filename
%h2= @snippet.filename
.rounded-box
  .snippet.contents
    .snippet-filename
      %a{ :href => path_to("/#{@snippet.id}") }= @snippet.filename
    .snippet-author
      by
      %a{:href => path_to("/user/#{@snippet.user.nickname}") }= @snippet.user.nickname
    .snippet-datetime
      Modified at
      = @snippet.updated_at.strftime('%Y-%m-%d %H:%M')
    .snippet-datetime
      Created at
      = @snippet.created_at.strftime('%Y-%m-%d %H:%M')
    - unless @snippet.comment.empty?
      .snippet-comment= @snippet.comment
    .snippet-links
      %a{ :href => path_to("/#{@snippet.id}/download") } download
      %a{ :href => path_to("/#{@snippet.id}/raw/#{@snippet.filename}") } raw
      - if logged_in? && @snippet.user == @authd_user
        %a{ :href => path_to("/#{@snippet.id}/edit") } edit
    .clear
    .snippet-body
      !~ render_snippet(@snippet)
