- @page_title = "User:#{@user.nickname}"
%h2= @page_title

.user-profile.rounded-box
  .contents
    %dl
      %dt Nickname
      %dd= @user.nickname
    %dl
      %dt Fullname
      %dd= @user.fullname
    %dl
      %dt Email
      %dd= @user.email
    %dl
      %dt Joined at
      %dd= @user.created_at.strftime('%Y-%m-%d %H:%M')
    - if @user == @authd_user
      .links
        %a{ :href => path_to("/user/#{@user.nickname}/edit") } edit
      .clear

%h3 Posted snippets
- @snippets = @user.snippets.sort_by(&:updated_at).reverse
!= partial :snippets_list
